.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
    width: 100%;
    margin: 0;
    background: #FFFFFF;
    flex-grow: 1;
}

.main__title {
    font-family: "Magnolia-Script";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: #000000;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 30px;
}

.main__pomodoro-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../../images/pomodoro.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #FFFFFF;
    border-style: none;
    width: 80%;
    height: 400px;
}

.main__pomodoro-image_stopwatch {
    background-image: url(../../images/stopwatch-timer-svgrepo-com.svg);
}

.main__timer {
    font-weight: 500;
    font-size: 80px;
    line-height: 120px;
    color: #FFFFFF;
    margin: 0;
    margin-top: 60px;
    text-align: center;
}

.main__timer_stopwatch {
    margin-top: 0px;
}

.main__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
    min-height: 80px;
    width: 100%;
    margin: 0;
    margin-top: 30px;
    background: #FFFFFF;
}

.main__buttons-button {
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #FFFFFF;
    border-style: none;
    width: 80px;
    height: 80px;
    margin: 10px 20px;
    padding: 0;
    cursor: pointer;
}

.main__buttons-button:hover {
    margin-bottom: 22px;
    margin-top: -2px;
} 

.main__buttons-button_play {
    background-image: url(../../images/play-play-button-svgrepo-com.svg);
}

.main__buttons-button_pause {
    background-image: url(../../images/pause-svgrepo-com.svg);
}

.main__buttons-button_eject {
    background-image: url(../../images/eject-svgrepo.svg);
}

.main__buttons-button_forward {
    background-image: url(../../images/forward-svgrepo-com.svg);
    display: none;
}

.main__buttons-button_stop {
    background-image: url(../../images/stop-svgrepo-com.svg);
    display: none;
}

.main__buttons-button_active {
    display: block;
}

@media screen and (max-width: 400px) {
    .main__title {
        font-size: 28px;
    }

    .main__timer {
        font-size: 60px;
        line-height: 80px;
    }
}