.progressbar__time-lines {
    display: grid;
    list-style: none;
    grid-template-columns: 25fr 5fr 25fr 5fr 25fr 5fr 25fr 5fr 25fr;
    margin: 30px 70px 0px 70px;
    gap: 0;
    padding: 0;
    max-width: 1140px;
    height: 20px;
    width: calc(100% - 140px);
}

.progressbar__work-time-line {
    width: 100%;
    background-color: #ddd;
    display: none;
    position: relative;
}

.progressbar__work-time-line_active {
    display: block;
}

.progressbar__work-progress {
    width: 0%;
    height: 20px;
    background-color: #4CAF50;
}

.progressbar__text {
    line-height: 20px;
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: center;
    margin: 0;
    overflow: hidden;
}

.progressbar__relax-time-line {
    background: #93f6c1;
    display: none;
}

.progressbar__relax-time-line_active {
    display: block;
}

.progressbar__relax-progress {

}
