.progressbar__time-lines {
    display: grid;
    list-style: none;
    grid-template-columns: 25fr 10fr 25fr 10fr 25fr 10fr 25fr 10fr 25fr;
    margin: 30px 70px 0px 70px;
    gap: 0;
    padding: 0;
    max-width: 1140px;
    height: 20px;
    width: calc(100% - 140px);
}

.progressbar__time-line {
    width: 100%;
    background-color: #ddd;
    position: relative;
    display: none;
}

.progressbar__time-line_active {
    display: block;
}

.progressbar__time-line_done {
    display: block;
    background-color: #4CAF50;
}

.progressbar__time-line_pink {
    background-color: #f49eda;
}

.progressbar__time-progress {
    width: 0%;
    height: 20px;
    background-color: #4CAF50;
}

.progressbar__time-progress_pink {
    background-color: #f49eda;
}

.progressbar__text {
    font-size: smaller;
    line-height: 20px;
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: center;
    margin: 0;
    overflow: hidden;
}

